.box {
    border: 2px solid #61dafb;
    border-radius: 5px;
    padding: 0.5rem;
    width: 340px;
}
.title {
    border-radius: 5px;
    border: 2px solid #61dafb;
    margin-bottom: 0.5rem;
}

.buttons {
    border: 2px solid #61dafb;
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}


