.OptionsBox {
    border-radius: 5px;
    padding: 0 2rem;
    border: 2px solid #61dafb;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.2rem;
}
.OptionsBox.warning {
    color: red;
}
.OptionsBox input {
    width: 40px;
    padding: 0.5rem;
    background: #282c34;
    color: #61dafb;
    border: 2px solid;
    border-radius: 5px;
    margin-left: 1rem;
}
.OptionsBox input:focus {
    outline: none;
}

.OptionsBox .warning input{
    color: red;
}